/* About page custom styling */

.hero-consistency {
  background-image: url("./../../assets/consistency.jpg");
  background-size: cover;
  background-position: center;
}

.hero-accuracy {
  background-image: url("./../../assets/accuracy.jpg");
  background-size: cover;
  background-position: center;
}

.hero-affordability {
  background-image: url("./../../assets/affordability.jpg");
  background-size: cover;
  background-position: center;
}
