body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-lock {
  overflow: hidden;
}

.back-drop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.static .menu {
  display: none;
}

@media only screen and (min-width: 660px) {
  .dag-country {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .my-matches-container04 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .my-matches-description {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }

  .cart-wrapper{
    padding: 0 20px;
  }
}

@media only screen and (min-width: 960px) {
  .menu-blank-space {
    display: none !important;
  }

  .header .navicon {
    display: none !important;
  }

  .static .menu {
    display: block;
    width: 400px;
    left: 0;
    border-right: 2px #000 solid;
  }

  .header {
    z-index: +2 !important;
  }

  .static .menu-content {
    padding-top: 50px;
    box-shadow: none;
  }

  .header .menu {
    display: none;
  }

  .menu li a {
    padding: 10px 8px 10px 0 !important;
  }

  .menu li a.active span {
    border-radius: 0 20px 20px 0 !important;
    padding-left: 20px !important;
  }

  main {
    padding-left: 400px;
  }

  .dag-container04 {
    /* top: 20px !important; */
    left: 400px;
    width: calc(100% - 400px) !important;
    /* z-index: +3; */
  }

  .dag-container07 {
    /* z-index: +3; */
    /* position: relative; */
  }

  .dag-country {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .fixed {
    width: calc(100% - 400px) !important;
    height: calc(100% - 50px) !important;
  }

  .my-matches-container04 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .my-matches-description {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }

}